@import "variables";
@import "reset";
@import "body";
@import "header";
@import "footer";
/*-------------------------------------------------------------------------------------------------*/

/*-------------------------------Main------------------------------------------------------------------*/
.main__page {
   background: url(../img/background.png)0 0/cover;
   
   .container {
      min-height: 100vh;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
   }
}
.main__body {
   position: relative;
   bottom: 11.875rem;
   width: 35.375rem;
   h1{
      color: $clr-3e3e;
      font-weight: 500;
      font-size:  clamp(1.8rem,7vw,2.625rem);
      margin-bottom: 1.875rem;
      span{
         color: $clr-blue;
      }
   }
   p{
      max-width: 28.75rem;
      font-size: 0.875rem;
      line-height: 2.14;
      color: rgba(117, 117, 117, 0.46);
      margin-bottom: 3.125rem;
   }
   
}
.main__form {
   background-color: $clr-fff;
   box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
   border-radius: 8px;
   padding: 0.8125rem 0.875rem;
   display: flex;
    input{
      margin-right: 1.25rem;
      position: relative;
      width: 100%;
      background-color: rgba(245, 246, 250, 0.52);
      border-radius: 8px;
      padding:  1.0625rem 10px 1.0625rem 30px;
      &::placeholder{
         font-family: 'Poppins';
         font-size: 0.875rem;
         color: rgba(117, 117, 117, 0.46);
      }
      }
      button{
         min-width: 4.375rem;
         height: 3.75rem;
         background-color: $clr-blue;
         position: relative;
         border-radius: 8px;
         &::before{
            content: url(../img/icons/search.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
         }
      }
}
.select2 .select2-container .select2-container--default .select2-container--above .select2-container--focus{
   width: 100%;
}
.select2-container--default .select2-selection--single{
   background-color: rgba(245, 246, 250, 0.52);
   border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
   font-size: 0.875rem;
   color: $clr-3D;
   line-height: 1.5;
}
.select2-container .select2-selection--single{
   height: 100%;
}
.select2-container .select2-selection--single .select2-selection__rendered{
   padding-left: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
   top: -5px;
}
.form__wrapper{
   width: 100%;
   position: relative;
   margin-right: 1.875rem;
   padding:  1.0625rem 10px 1.0625rem 30px;
   background-color: rgba(245, 246, 250, 0.52);
   border-radius: 8px;
   select{
      width: 100%;
   }
}

.main__picture {
      position: relative;
      z-index: 5;
      
   &::before{
      content: url(../img/main/shape.png);
      position: absolute;
      z-index: -1;
       top: -30px;
      left: 50%;
      transform: translateX(-48%);
   }
   img{
      max-width: 100%;
   }
   .icons{
      position: absolute;
      z-index: 10;
   }
   .icons:nth-child(1){
      top: 55px;
      left: -40px;
      &::before{
         content: url(../img/main/01.png);
      }
   }
   .icons:nth-child(2){
      top: 45px;
      right: -40px;
      &::before{
         content: url(../img/main/02.png);
      }
   }
   .icons:nth-child(3){
      top: 277px;
      left: -70px;
      &::before{
         content: url(../img/main/03.png);
      }
   }
   .icons:nth-child(4){
      top: 340px;
      right: -110px;
      &::before{
         content: url(../img/main/04.png);
      }
   }
   .icons:nth-child(5){
      top: 480px;
      left: -70px;
      &::before{
         content: url(../img/main/05.png);
      }
   }
}

@media (max-width: 1160px){
   .main__page{
      padding-top: 6.25rem;
      .container{
         flex-direction: column;
         gap: 3.125rem;
         align-items: center;
      }
   }
   .main__body{
      bottom: 0;
   }
   .main__picture{
      align-self: auto;
   }
}

@media (max-width: 680px){
   .main__page{
      
      .container{
         overflow: hidden;
      }
   }
   .main__body{
      width: 100%;
   }
   .main__form{
      flex-direction: column;
      gap: 1rem;
   }
   .icons{
      display: none;
   }
}
/*------------------------------easy__steps-------------------------------------------------------------------*/
.easy__steps {
   padding:clamp(2rem,7vw,4.6875rem)  0;
   .container {

      h3{
         @extend .title;
         text-align: center;
         margin-bottom: 3.125rem;
      }
   }
}
.easy__steps-body {
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   flex-wrap: wrap;
   @media (max-width: 1050px){
      justify-content: center;
   }
}
.item {
   max-width: 20rem;
   text-align: center;

   h5{
      font-weight: 500;
      font-size: 1.25rem;
      color:  $clr-3D;
      margin-bottom: 1.25rem;
   }
   p{
      font-size: 0.75rem;
      color: rgba(0, 0, 0, 0.5);
   }
}
.image-block {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 5rem;
   height: 5rem;
   margin: 0 auto 5px;
  
   border-radius: 50%;
}
.item:nth-child(1) .image-block{
   background-color: hsla(203, 100%, 50%, 0.1);
}
.item:nth-child(2) .image-block{
   background-color: hsla(40, 100%, 51%, 0.1);
}
.item:nth-child(3) .image-block{
   background-color: hsla(203, 100%, 50%, 0.1);
}

/*--------------------------quality-----------------------------------------------------------------------*/
.quality {
   padding-bottom: 8.75rem;
   .container {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: clamp(3rem,7vw,6.25rem);
      @media (max-width: 1050px){
         grid-template-columns: 1fr;
         place-items: center;
         text-align: center;
      }
   }
}
.quality-image {
   max-width: 647px;
   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius:4px 33px 272.5px 272.5px ;
   }
}
.quality__body {
   
   margin-right: auto;
   h3{
      @extend .title;
      margin-bottom: 1.5rem;
   }
   
}
.text{
   font-size: 1.125rem;
   letter-spacing: 0.02em;
   color: rgba(61, 61, 63, 0.7);
   margin-bottom: 0.625rem;
}
.quality__list {
      margin-bottom: 1.5rem;
   li{
         
      &::before{
         content: url(../img/icons/check.svg);
         display: inline-block;
         position: relative;
         top: 4px;
         padding-right: 1.1rem;
      }
      &:not(:last-child){
         margin-bottom: 0.875rem;
      }
   }
}
.quality__body {
   .button{
      &::after{
         content: url(../img/icons/arrow-right.svg);
         display: inline-block;
         position: relative;
         left: 8px;
      }
   }
}
/*----------------------------------service---------------------------------------------------------------*/
.service {
   .container {
      text-align: center;
      overflow: hidden;
      .title {
         margin-bottom: 1.5rem;
      }
     
   }
}
.service__subtitle{
   @extend .text;
   max-width: 30rem;
   margin: auto;
   margin-bottom: 4.69em;
}
.service__swiper {
   overflow: visible;
   padding-bottom: 6.88rem;
}

.service__wrapper {
}

.service-slide {
   padding: 3.8rem 1.9rem 1.9rem;
   background-color: $clr-fff;
   border-radius: 10px;
   height: auto;
   transition: 0.5s;
   position: relative;
   img{
      margin-bottom: 1.1rem;
   }
   h5{
      margin-bottom: 1.5rem;
   }
   p{
      font-size: 0.875rem;
      color: #999999;
   }
   &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 1.125rem;
      background-color: $clr-blue;
      opacity: 0;
      border-radius: 0px 0px 10px 10px;
      transition: 0.4s;
   }
}
.service-slide.swiper-slide-active{
   box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
   
   &::before{
      left: 0;
      opacity: 1;
      width: 100%;
   }
}
.service-pagination {
   .swiper-pagination-bullet{
      width: 18px;
      height: 18px;
      transition: 0.5s;
      background-color: #9fd3e9;
      margin-inline: 7.5px !important;
   }
   .swiper-pagination-bullet-active{
      background-color: $clr-blue;
      width: 60px;
      border-radius: 6px;
   }
}
